<h1>Order Submitted</h1>

<p>
  Thank you for your order. It has been submitted for processing at
  <%= @order.created_at.strftime('%m/%d/%Y %I:%M%p %Z') %>.
</p>
<p>
  Please allow up to three hours for processing. You will receive an e-mail confirmation
  when your product has shipped.
</p>